@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  /* COLORS */
  --color-black: '#010c15';
  --color-darkBlue: '#011627';
  --color-gray: '#607b96';
  --color-white: '#ffffff';
  --color-violet: '#4d5bce';
  --color-border: '#1e2d3d';
  --color-darkWhite: '#e5e9f0';
  --color-orange: '#e99287';
  --color-green: '#43d9ad';
  --color-cardBg: '#011221';
  --color-btnBg: '#1c2b3a';

  /* BORDER RADIUS */
  --radius-default: '8px';

  /* FONT SIZE */
  --text-headLine: '62px';
  --text-subHeadLine: '32px';
  --text-normal: '18px';
  --text-label: '16px';
  --text-snippet: '14px';

  /* LINE HEIGHT */
  --leading-headLine: '68px';
  --leading-subHeadLine: '32px';
  --leading-normal: '18px';
  --leading-label: '16px';
  --leading-snippet: '14px';

  /* WIDTH */
  --width-container: 'calc(100vw - 100px)';
  --width-content: '100%';

  /* WIDTH */
  --height-container: 'calc(100vh - 100px)';
  --width-content: 'calc(100% - 56px - 50px)';
}


@layer base {
  html {
    font-family: 'Fira Code', monospace;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

:root {
  --black: #010c15;
  --dark-blue: #011627;
  --grey-color: #607b96;
  --white: #ffffff;
  --violet: #4d5bce;
  --border-color: #1e2d3d;
  --white-alt: #e5e9f0;
  --orange: #e99287;
  --green: #43d9ad;
  --card-bg-color: #011221;
  --button-bg-color: #1c2b3a;
  --raidus: 8px;
  --headline-font-size: 62px;
  --subhead-font-size: 32px;
  --body-text: 18px;
  --labels: 16px;
  --code-snippets: 14px;
  --space: 24px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--black);
  color: var(--grey-color);
  width: 100vw;
  height: 100vh;
  font-size: var(--body-text);
  padding: 50px;
  overflow: hidden;
  user-select: none;
}