/* Home CSS */
.wrapper {
  width: 100%;
  height: calc(100vh - 55px - 100px - 45px);
  display: flex;
}

.leftWrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.leftText {
  display: flex;
  flex-direction: column;
  padding-right: 5%;
}

.firstTxt {
  color: var(--white-alt);
  padding-left: 5px;
}

.nameTxt {
  color: var(--white-alt);
  font-size: var(--headline-font-size);
}

.developerTxt {
  font-size: var(--subhead-font-size);
  color: var(--violet);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -5px;
}

.rightWrapper {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.backdropFilterTop {
  z-index: 2;
  width: 70%;
  height: 70%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--green);
  opacity: 0.4;
  filter: blur(87px);
  border-radius: 100%;
  transform: rotateX(-30deg) rotateY(30deg) rotateZ(30deg) translateX(-90px)
    translateY(60px);
}

.backdropFilterBottom {
  z-index: 1;
  width: 70%;
  height: 70%;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  background-color: var(--violet);
  opacity: 0.4;
  filter: blur(87px);
  transform: rotateX(40deg) rotateY(-10deg) rotateZ(60deg) translateX(-100px)
    translateY(15px);
}
